<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<dialog size="400/300" title="Settings">
	<label position="10/0" size="250/20" text="Restart to apply changes!" />
	<!--<tabcontrol position="0/0" size="390/250">
		<tab index="0" label="Game">
		</tab>
		<tab index="1" label="Graphics"> -->
			<label position="10/20" size="100/20" text="Graphics" />
			<label position="10/40" size="100/20" text="Resolution:" />
			<dropdown name="resolutionmenu" position="110/40" size="150/20" >
					<element text="640x480" />
					<element text="800x600" />
					<element text="1024x768" />
			</dropdown>
			<checkbox name="fullscreen" position="10/80" size="150/20" label="Fullscreen" />
		<!--</tab>
		<tab index="2" label="Sound">-->
			<label position="10/110" size="50/20" text="Sound" />
			<checkbox name="stereo" position="10/130" size="150/20" label="Stereo" />
			<label position="10/150" size="100/20" text="Frequency:" />
			<dropdown name="frequencymenu" position="110/150" size="150/20" >
				<element text="22050" />
			</dropdown>
		<!--</tab>
	</tabcontrol>-->
	<button id="0" position="320/260" size="60/20" label="Close" />
	<button id="1" position="185/260" size="60/20" label="Apply" />
	<button id="2" position="250/260" size="65/20" label="Restore" />

	<script>
	<![CDATA[
	function on_button(index)
		if index == 0 then
			menu.hide_dialog("settings");
		elseif index == 1 then
			apply()
		elseif index == 2 then
			update()
		end
	end
	
	function on_show()
		update()
	end
	
	function update()
		resolution = Vector2I(Preferences.get():getResolution())
		if resolution.x == 800 and resolution.y == 600 then
			resolutionmenu:setSelected(1)
		elseif resolution.x == 1024 and resolution.y == 768 then
			resolutionmenu:setSelected(2)
		else
			resolutionmenu:setSelected(0)
		end

		fullscreen:setSelected(Preferences.get():getFullscreen())
		stereo:setSelected(Preferences.get():getStereo())
		
		frequecy = Preferences.get():getFrequency()
		if frequency == 22050 then
			frequencymenu:setSelected(0)
		else
			frequencymenu:setSelected(0)
		end
	end
	
	function apply()
		resolutionnumber = resolutionmenu:getSelected()
		if resolutionnumber == 1 then
			Preferences.get():setResolution(Vector2I(800, 600))
		elseif resolutionnumber == 2 then
			Preferences.get():setResolution(Vector2I(1024, 768))
		else
			Preferences.get():setResolution(Vector2I(640, 480))
		end
		Preferences.get():setFullscreen(fullscreen:isSelected())
		Preferences.get():setStereo(stereo:isSelected())
		
		frequencynumber = frequencymenu:getSelected()
		if frequencynumber == 0 then
			Preferences.get():setFrequency(22050)
		else
			Preferences.get():setFrequency(22050)
		end
	end
	]]>
	</script>
</dialog>
